<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grid</title>
    <style>
        .grid {
            display: grid;
            grid-template-columns: 200px auto;
            grid-template-rows: 300px 300px;
        }
        .left {
            background-color: red;
        }
        .right {
            background-color: blue;
        }
    </style>
</head>
<body>
    <div class="grid">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</body>
</html>